{% extends '../../template.html' %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h2>{{ pagename }}</h2>
    <div class="d-flex align-items-end mb-3" style="gap: 0.2rem;">
        <input type="text" class="form-control form-control-sm" id="txtFiltro" placeholder="Buscar" style="width: 10rem;" />
        <div>
            <label>Activos</label>
            <select class="form-control form-control-sm" id="cmbActivoFiltro" onchange="getLista()">
                <option value="t" selected>Todos</option>
                <option value="1">Si</option>
                <option value="0">No</option>
            </select>
        </div>
        {% if permisos.a == 1 %}
            <button class="btn btn-sm btn-round btn-success modalAccion mr-1" data-accion="a" onclick='ModalAccion("a")'>
                <i class="fa fa-plus"></i>
            </button>
        {% endif %}
    </div>
</div>
<div class="table-responsive" style="height: calc(100vh - 200px)">
    <table class="table table-sm table-fix table-hover tableFixHead" id="tablaClientes">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Razón social</th>
                <th>Nro. Doc.</th>
                <th>Cond. I.V.A.</th>
                <th>Direccion</th>
                <th>Mail</th>
                <th>Teléfono</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- MODAL -->
<div class="modal fade" id="modalClientes" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" aria-label="Close" onclick="CerrarModal()">
                    <span aria-hidden=" true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label for="txtRazonSocial">Razón social</label>
                        <input type="text" class="form-control form-control-sm" id="txtRazonSocial">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label for="cmbTipoDoc">Tipo Doc.</label>
                        <select class="form-control form-control-sm selectpicker" id="cmbTipoDoc" onchange="SeleccionoTipoDoc()"></select>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="nroDoc">Nro. Doc.</label>
                        <input type="text" class="form-control form-control-sm" disabled  id="nroDoc">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="cmbCondicionIVA">Condición de I.V.A.</label>
                        <select class="form-control form-control-sm selectpicker" id="cmbCondicionIVA">
                            <option value="" selected disabled>Seleccione una condición de IVA...</option>
                            {% for ci in condicionesIva %}
                                <option value="{{ ci.id }}">{{ ci.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label for="cmbProvincia">Provincia</label>
                        <select class="form-control form-control-sm selectpicker" id="cmbProvincia" onchange="ObtenerCmbLocalidadesProvincia(this.value,'cmbLocalidad', true)"></select>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="cmbLocalidad">Localidad</label>
                        <select class="form-control form-control-sm selectpicker" id="cmbLocalidad" disabled></select>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="txtDireccion">Dirección</label>
                        <input type="text" class="form-control form-control-sm" id="txtDireccion">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label for="txtMail">Mail</label>
                        <input type="email" class="form-control form-control-sm" id="txtMail">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="txtTelefono">Teléfono</label>
                        <input type="text" class="form-control form-control-sm" id="txtTelefono" onkeypress="return soloNumeros(event)">
                    </div>
                </div>
                <div class="dropdown-divider d-none" id="actionSeccionDivider"></div>
                <div class="row d-none" id="actionSeccion">
                    <div class="col-12 row justify-content-center pt-2">
                        <div class="custom-control custom-switch ml-1">
                            <input type="checkbox" class="custom-control-input" id="chbActivo" />
                            <label class="custom-control-label" for="chbActivo">Activo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CerrarModal()">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnAccion">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->

<!-- MODAL VER -->
<div class="modal fade" id="modalVer" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ver más información</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label for="txtRazonSocial">Razón social</label>
                        <input type="text" class="form-control form-control-sm" id="txtRazonSocialV" disabled readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label for="cmbTipoDocV">Tipo Doc.</label>
                        <select class="form-control form-control-sm selectpicker" id="cmbTipoDocV" disabled readonly></select>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="nroDocV">Nro. Doc.</label>
                        <input type="text" class="form-control form-control-sm" id="nroDocV" disabled readonly>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="cmbCondicionIVA">Condición de I.V.A.</label>
                        <select class="form-control form-control-sm selectpicker" id="cmbCondicionIVAV" disabled readonly>
                            <option value="" selected disabled>Seleccione una condición de IVA...</option>
                            {% for ci in condicionesIva %}
                                <option value="{{ ci.id }}">{{ ci.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label for="cmbProvinciaV">Provincia</label>
                        <select class="form-control form-control-sm selectpicker" id="cmbProvinciaV" disabled readonly></select>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="cmbLocalidadV">Localidad</label>
                        <select class="form-control form-control-sm selectpicker" id="cmbLocalidadV" disabled readonly></select>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="txtDireccionV">Dirección</label>
                        <input type="text" class="form-control form-control-sm" id="txtDireccionV" disabled readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label for="txtMailV">Mail</label>
                        <input type="email" class="form-control form-control-sm" id="txtMailV" disabled readonly>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="txtTelefono1V">Teléfono</label>
                        <input type="text" class="form-control form-control-sm" id="txtTelefono1V" disabled readonly>
                    </div>
                </div>
                <div class="row" id="actionSeccion">
                    <div class="col-12 row justify-content-center pt-2">
                        <div class="custom-control custom-switch ml-1">
                            <input type="checkbox" class="custom-control-input" id="chbActivoV" />
                            <label class="custom-control-label" for="chbActivo">Activo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL VER -->

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    
    $(document).ready(async () => {
        await ObtenerCmbTiposDocumentacion('cmbTipoDoc', false)
        await ObtenerCmbTiposDocumentacion('cmbTipoDocV', false)
        await ObtenerCmbProvincias(['cmbProvincia', 'cmbProvinciaV'])
        getLista()
    })

    $(document).on('input', '#txtFiltro', function(){
        FiltrarTablas('tablaClientes','txtFiltro')
    })

    const getLista = async () => {
        $("#preloaderAPP").show()
        let html = '<tr><td colspan="20"><b>No se han encontrado registros</b></td></tr>'
        const res = await $.post('/clientes/listaAjax', { activo: $('#cmbActivoFiltro').val() })
        if(res.status){
            html=''
            for(let i=0; i<res.data.length; i++){
                html += `
                <tr>
                    <td>
                        <div style="display: flex; gap: 2px;">
                            <button class="btn btn-round btn-sm btn-info" data-accion="v"
                                data-toggle="tooltip" data-placement="top" title="Ver" onclick="Ver(${res.data[i].id})">
                                <i class="fa fa-eye"></i>
                            </button>
                            {% if permisos.m == 1 %}
                                <button class="btn btn-round btn-sm btn-warning" data-accion="m"
                                    data-toggle="tooltip" data-placement="top" title="Modificar" onclick="ModalAccion('m',${res.data[i].id})">
                                    <i class="fa fa-pen"></i>
                                </button>
                            {% endif %}
                            {% if permisos.b == 1 %}
                                <button class="btn btn-round btn-sm btn-danger" onclick="Borrar(${res.data[i].id})"
                                    data-toggle="tooltip" data-placement="top" title="Borrar">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            {% endif %}
                        </div>
                    </td>
                    <td class="search">${res.data[i].razon_social}</td>
                    <td class="search">${res.data[i].tipoDoc}: ${res.data[i].nro_doc}</td>
                    <td class="search">${res.data[i].descCondIvaTxt}</td>
                    <td class="search">${res.data[i].direccion}</td>
                    <td class="search">${res.data[i].mail}</td>
                    <td class="search">${res.data[i].telefono}</td>
                    <td>${res.data[i].activo === 1 ? 'Si' : 'No'}</td>
                </tr>`
            }
        }
        $('#tablaClientes tbody').html(html)
        $("#preloaderAPP").hide()
        $('[data-toggle="tooltip"]').tooltip()
    }

    const ModalAccion = async (accion, id) => {
        if (accion === 'a') {
            $('#modalLabel').text('Nuevo cliente')
            $('#btnAccion').attr('onclick', `PostRegistro("a")`)
            $('#btnAccion').text('Guardar')
            AbrirModal()
        }else if (accion === 'm') {
            let res = await $.post(`/clientes/getModificar`, {id})
            if(!res.status) return Swal.fire(res.title, res.text, res.icon)
            await CargarDatosModificar(res.data)
            $('#modalLabel').text('Modificar cliente')
            $('#btnAccion').text('Guardar')
            $('#btnAccion').attr('onclick', `PostRegistro("m", ${id})`)
            $('#actionSeccion').removeClass('d-none')
            $('#actionSeccionDivider').removeClass('d-none')
            AbrirModal()
        }
    }

    const PostRegistro = async (accion, idCliente) => {
        let body = {
            razonSocial: $('#txtRazonSocial').val(),
            tipoDoc: $('#cmbTipoDoc').val(),
            nroDoc: $('#nroDoc').val(),
            condicionIva: $('#cmbCondicionIVA').val(),
            provincia: $('#cmbProvincia').val(),
            localidad: $('#cmbLocalidad').val(),
            direccion: $('#txtDireccion').val(),
            mail: $('#txtMail').val(),
            telefono: $('#txtTelefono').val()
        }
        
        if (accion == 'm') {
            body.activo = $('#chbActivo').is(':checked')
            body.id = idCliente
        }

        let res = await $.post(`/clientes/${accion === 'a' ? 'alta' : 'modificar'}`, body)
        Swal.fire({
            icon: res.icon,
            title: res.title,
            text: res.text,
            timer: 2500
        }).then(() => {
            if(res.status){
                $('#cmbActivoFiltro').val('t')
                getLista()
                CerrarModal()
            }
        })
    }

    const SeleccionaProvincia = async idProvincia => {
        await ActualizarLocalidad(idProvincia, false)
    }

    const ActualizarLocalidad = async (id, esVer) => {
        return new Promise(async (resolve, reject) => {
            let provincia = parseInt($('#cmbProvincia').val());
            try {
                let html='<option value="" selected disabled>Seleccione una provincia...</option>', 
                    res = await $.post('/localidades/listaSelectAjax', { id })
                    console.log(id)
                    console.log(res)
                for(let i=0; i<res.length; i++) 
                    html += `<option value="${res[i].id}">${res[i].cp} - ${res[i].localidad}</option>`
                
                if(esVer){
                    $('#cmbLocalidadV').html(html)
                    $('#cmbLocalidadV').selectpicker('refresh')
                }else{
                    console.log('entro')
                    $('#cmbLocalidad').prop('disabled', false)
                    $('#cmbLocalidad').html(html)
                    $('#cmbLocalidad').selectpicker('refresh')
                }
                
                resolve()
            } catch (error) {
                reject(error)
            }
        })
    }

    const Borrar = (IdCliente) => {
        Swal.fire({
            title: 'Advertencia',
            text: "¿Desea borrar este registro?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar.',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No, cancelar.'
        }).then(async result => {
            if (result.isConfirmed) {
                let res = await $.post('/clientes/borrar', { IdCliente })
                Swal.fire({
                    icon: res.icon,
                    title: res.title,
                    text: res.text
                })
                getLista()
            }
        })
    }

    const AbrirModal = () => {
        $('#modalClientes').modal('show')
    }

    const CerrarModal = () => {
        $('#modalClientes').modal('hide')
        $('#actionSeccion').addClass('d-none')
        $('#actionSeccionDivider').addClass('d-none')
        LimpiarCampos()
    }

    const CargarDatosModificar = async o => {
        $('#txtRazonSocial').val(o.razon_social)
        $('#cmbTipoDoc').selectpicker('val', o.id_tipodoc_fk)
        SeleccionoTipoDoc()
         $('#nroDoc').val(o.nro_doc)
        $('#cmbCondicionIVA').selectpicker('val', o.id_condicioniva_fk)
        $('#cmbProvincia').selectpicker('val', o.id_provincia_fk)
        
        if(o.id_provincia_fk){
            await ObtenerCmbLocalidadesProvincia(o.id_provincia_fk, 'cmbLocalidad', true)
            $('#cmbLocalidad').selectpicker('val', o.id_localidad_fk)
        }
        $('#txtDireccion').val(o.direccion)
        $('#txtMail').val(o.mail)
        $('#txtTelefono').val(o.telefono)
        $('#chbActivo').prop('checked', o.activo == 1)

        $('.selectpicker').selectpicker('refresh')
        $('#modalClientes').modal('show')
    }

    const LimpiarCampos = () => {
        $('input[type="text"], input[type="email"], textarea').val('')
        $('input[type="checkbox"], input[type="radio"]').prop('checked', false)
        $('select').val('0')
        $('#nroDoc').prop('disabled', true)
        $('#nroDoc').unmask()
        $('#nroDoc').removeClass('maskCUIT maskDNI')
        $('#cmbLocalidad').prop('disabled', true)
        $('.selectpicker').selectpicker('refresh')
    }

    const Ver = async id => {
        $("#preloaderAPP").show()
        const res = await $.post('/clientes/ver', {id})
        if(res.status){
            $('#txtRazonSocialV').val(res.data.razon_social)
            $('#cmbTipoDocV').selectpicker('val', res.data.id_tipodoc_fk)
            $('#nroDocV').val(res.data.nro_doc)
            $('#cmbCondicionIVAV').selectpicker('val', res.data.id_condicioniva_fk)
            $('#cmbProvinciaV').selectpicker('val', res.data.id_provincia_fk)
            if(res.data.id_provincia_fk){
                await ObtenerCmbLocalidadesProvincia(res.data.id_provincia_fk, 'cmbLocalidadV', false)
                $('#cmbLocalidadV').selectpicker('val', res.data.id_localidad_fk)
            }
            $('#txtDireccionV').val(res.data.direccion)
            $('#txtMailV').val(res.data.mail)
            $('#txtTelefono1V').val(res.data.telefono)
            $('#chbActivoV').prop('checked', res.data.activo == 1)
            $('.selectpicker').selectpicker('refresh')
            $("#preloaderAPP").hide()
            $('#modalVer').modal('show')
        }else{
            $("#preloaderAPP").hide()
            Swal.fire(res.title, res.text, res.icon)
        }
    }

    const SeleccionoTipoDoc = () => {
        const tipoDocId = $('#cmbTipoDoc').val()
        const tipoDocTexto = $('#cmbTipoDoc option:selected').text()
        
        // Limpiar el campo y remover máscaras previas
        $('#nroDoc').val('')
        $('#nroDoc').unmask()
        $('#nroDoc').removeClass('maskCUIT maskDNI')
        
        if (!tipoDocId || tipoDocId === '') {
            $('#nroDoc').prop('disabled', true)
            $('#nroDoc').attr('placeholder', 'Nro. Doc.')
            return
        }
        
        // Habilitar el campo
        $('#nroDoc').prop('disabled', false)
        
        // Aplicar máscara según el tipo de documento
        switch(tipoDocTexto) {
            case 'CUIT':
            case 'CUIL':
                $('#nroDoc').addClass('maskCUIT')
                $('#nroDoc').mask('99-99999999-9')
                $('#nroDoc').attr('placeholder', 'CUIT: 99-99999999-9')
                break
            case 'DNI':
                $('#nroDoc').addClass('maskDNI')
                $('#nroDoc').mask('99.999.999')
                $('#nroDoc').attr('placeholder', 'DNI: 99.999.999')
                break
            case 'CDI':
                $('#nroDoc').attr('placeholder', 'CDI')
                break
            case 'CI Extranjera':
                $('#nroDoc').attr('placeholder', 'CI Extranjera')
                break
            case 'Pasaporte':
                $('#nroDoc').attr('placeholder', 'Pasaporte')
                break
            case 'Otro':
                $('#nroDoc').attr('placeholder', 'Otro documento')
                break
            default:
                $('#nroDoc').attr('placeholder', tipoDocTexto)
        }
    }

</script>
{% endblock %}